.robot-container {
  position: relative;
  border: 1px solid transparent;
  margin: 370px auto;
}

.robot-face-shape {
  position: relative;
  width: 900px;
  height: 900px;
  background-image: linear-gradient(to right, #c2e59c, #64b3f4);
  border: 25px solid rgb(32, 174, 203);
  border-radius: 100px;
  margin: 0 auto;
}

.robot-eye-left {
  position: relative;
  width: 220px;
  height: 220px;
  border-radius: 110px;
  top: 160px;
  left: 130px;
  background-image: url(https://picsum.photos/seed/picsum/200/200);
  background-size: 100%;
  background-position: center;
}

.robot-eye-right {
  position: relative;
  width: 250px;
  height: 125px;
  top: 20px;
  right: 120px;
  border-radius: 50%;
  background-color: blueviolet;
  float: right;
  opacity: 50%;
}

.robot-ear-left {
  position: absolute;
  top: 280px;
  left: -190px;
  width: 0px;
  height: 0px;
  border-right: 90px solid transparent;
  border-top: 90px solid lawngreen;
  border-left: 90px solid lawngreen;
  border-bottom: 90px solid lawngreen;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
}

.robot-ear-right {
  position: absolute;
  top: 280px;
  right: -190px;
  width: 0px;
  height: 0px;
  border-right: 90px solid transparent;
  border-top: 90px solid lawngreen;
  border-left: 90px solid lawngreen;
  border-bottom: 90px solid lawngreen;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  transform: scaleX(-1);
}

.robot-nose-first-part {
  position: relative;
  width: 60px;
  height: 70px;
  transform: skew(40deg);
  background: tomato;
  top: 200px;
  left: 400px;
}

.robot-nose-second-part {
  position: relative;
  width: 60px;
  height: 70px;
  transform: skew(-40deg);
  background: tomato;
  top: 200px;
  left: 400px;
}

.robot-teeth {
  position: relative;
  width: 445px;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  border: 6px solid coral;
  border-radius: 30px;
  padding: 10px;
  left: 215px;
  top: 250px;
  gap: 10px;
  box-sizing: border-box;
}

.robot-tooth-one,
.robot-tooth-two,
.robot-tooth-three,
.robot-tooth-four,
.robot-tooth-five,
.robot-tooth-six,
.robot-tooth-seven,
.robot-tooth-eight,
.robot-tooth-nine,
.robot-tooth-ten,
.robot-tooth-eleven,
.robot-tooth-twelve {
  position: relative;
  width: 60px;
  height: 70px;
  background-color: white;
  border: 0.5px solid black;
  margin: 0;
}

.robot-hair-style {
  position: absolute;
  top: 0;
  left: 0;
  width: 900px;
  height: 900px;
}

.robot-hair-one {
  position: relative;
  bottom: 200px;
  left: 400px;
  width: 80px;
  height: 170px;
  background-color: purple;
}

.robot-hair-two {
  position: relative;
  bottom: 335px;
  left: 290px;
  width: 80px;
  height: 135px;
  background-color: blue;
}

.robot-hair-three {
  position: relative;
  bottom: 470px;
  left: 510px;
  width: 80px;
  height: 135px;
  background-color: pink;
}
.robot-hair-four {
  position: relative;
  bottom: 570px;
  left: 185px;
  width: 8.89%;
  height: 11.11%;
  background-color: pink;
}
.robot-hair-five {
  position: relative;
  bottom: 670px;
  left: 620px;
  width: 5em;
  height: 6.25em;
  background-color: blue;
}
